@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

button{
    border-radius: 4px;
    border: none;
    background-color: #EEE;
    transition: 0.1s linear background-color;
}

button:hover{
    cursor: pointer;
    background-color: #BBB;
}

input{
    font-size: 20px;
    height: 50px;
    width: 400px;
    padding: 8px;
}


#main{
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    justify-content: center;
    gap: 300px;
}

#generate_inputs{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 256px;
    gap: 12px;
}

#download_inputs{
    border: 1px solid;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}

#generate_button{
    width: 400px;
    height: 50px;
    font-size: 32px;
    letter-spacing: 3px;
}

#download_button{
    font-size: 20px;
    width: 256px;
    height: 60px;
}

.hidden{
    display: none;
}